{% extends 'base.html' %}
{% block title %}Create Post - UC Merced Forum{% endblock %}

{% block content %}
<h1>Create a New Post in {{ topic.name }}</h1>

<form method="post" enctype="multipart/form-data" class="post-create-form">
    {{ form.hidden_tag() }}

    <div class="form-group">
        {{ form.tag.label(class="form-label") }}
        {{ form.tag(class="form-control") }}
    </div>

    <div class="form-group">
        {{ form.title.label(class="form-label") }}
        {{ form.title(class="form-control") }}
    </div>

    <div class="form-group">
        {{ form.content.label(class="form-label") }}
        {{ form.content(class="form-control") }}
    </div>

    <div class="form-group">
        {{ form.image.label(class="form-label") }}
        <label for="postImageInput" class="custom-file-upload">
            <i class="fa fa-image"></i> Choose Image
        </label>
        {{ form.image(id="postImageInput", style="display: none;", onchange="previewImage(this)") }}
        <p id="file-name-display" class="text-muted" style="font-size: 0.85rem; margin-top: 0.5rem;"></p>
    </div>

    <img id="preview" class="create-post-image-preview" alt="New post image preview" />

    <div class="form-group mt-1">
        <button type="submit" class="btn btn-primary">Submit Post</button>
    </div>
</form>

<script>
    function previewImage(input) {
        const preview = document.getElementById('preview');
        const fileNameDisplay = document.getElementById('file-name-display');

        if (input.files && input.files[0]) {
            const reader = new FileReader();
            reader.onload = function (e) {
                preview.src = e.target.result;
                preview.style.display = 'block';
            };
            fileNameDisplay.textContent = "Selected file: " + input.files[0].name;
            reader.readAsDataURL(input.files[0]);
        } else {
            preview.style.display = 'none';
            fileNameDisplay.textContent = "";
        }
    }
</script>
{% endblock %}
